.Welcome {
  border: thin solid whitesmoke;
  border-radius: 2vw;
  background: hsla(300, 33%, 8%, 1);

  padding: 2vw;
  width: fit-content;
  max-width: 60%;

  color: whitesmoke;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  text-align: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.Welcome p {
  margin: 1vw;
  text-align: justify;
}

.Welcome button {
  padding: .25vw .5vw;
}