.Orb {
  border-radius: 50%;
  max-height: 100px;
  max-width: 100px;
  margin: 5vw;

  position: absolute;

  animation: fade-in-and-out 7s linear 0s 1 normal forwards;
  -webkit-animation: fade-in-and-out 7s linear 0s 1 normal forwards;
  -moz-animation: fade-in-and-out 7s linear 0s 1 normal forwards;
  -o-animation: fade-in-and-out 7s linear 0s 1 normal forwards;
}

@keyframes fade-in-and-out {
  0% { opacity: 0; }
  25% { opacity: 0.5; }
  50% { opacity: 1; }
  75% { opacity: 0.5; }
  100% { opacity: 0; }
}

@-moz-keyframes fade-in-and-out {
  0% { opacity: 0; }
  25% { opacity: 0.5; }
  50% { opacity: 1; }
  75% { opacity: 0.5; }
  100% { opacity: 0; }
}

@-webkit-keyframes fade-in-and-out {
  0% { opacity: 0; }
  25% { opacity: 0.5; }
  50% { opacity: 1; }
  75% { opacity: 0.5; }
  100% { opacity: 0; }
}

@-o-keyframes fade-in-and-out {
  0% { opacity: 0; }
  25% { opacity: 0.5; }
  50% { opacity: 1; }
  75% { opacity: 0.5; }
  100% { opacity: 0; }
}

.Move {
  transition: all 2s ease-in-out;
}

@media screen and (min-width: 500px) {
  .Orb {
    max-height: 200px;
    max-width: 200px;
  }
}